<div class="faq-container">
  <div class="__faqBg">
    <div class="__faq-content">
      <h1>
        Frequently <br />
        Asked Questions
      </h1>
      <!-- <h3>
        Our Project Consultant have worked with the best companies in every
        category
      </h3> -->
    </div>
  </div>
</div>
<div class="__faqs">
  <section class="faq">
    <div>
      <ul class="faq-list">
        <li
          data-aos="fade-up"
          data-aos-delay="100"
          class="aos-init aos-animate"
        >
          <a
            data-toggle="collapse"
            class="collapsed"
            href="#faq1"
            aria-expanded="false"
          >
            How to Download Mevron Passenger App
            <i class="fa fa-arrow-up"></i>
          </a>
          <div id="faq1" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                <b>
                  When you want to enjoy the safety and security of the
                  Mevron platform, you need to download our Passenger app.
                  It’s free for download to your mobile device. You simply
                  need to determine your operating system (and be certain
                  they meet the minimum requirements, listed below):</b
                >
              </li>

              <li>
                For iOS (compatible with iPhone, iPad, and iPod touch, 10.0
                iOS or later)
              </li>
              <li>For Android (9.0 or later)</li>
              <li>
                For Windows phones (Windows 8.0, 8.1, and 10.0 only, but
                only cash payments are permitted with Window currently)
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="200"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq2" class="collapsed">
            How to Use Mevron App on a Smartphone
            <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq2" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                It is possible to use the Mevron app and order a ride from
                any smart device, so long as your device is connected to an
                active Internet connection and has GPS activated.
              </li>

              <li>
                Log in to your Mevron app account. You can also order a ride
                through our Mobile Site, but this will only allow for cash
                payment options.
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="300"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq3" class="collapsed">
            How to Request a Ride
            <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq3" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                <b
                  >It’s simple to request a ride through the Mevron app.
                </b>
              </li>
              <li><b>From the app:</b></li>
              <li>Search your destination</li>
              <li>
                If you need to add more stops, tap the (+) icon. To remove a
                stop, tap the (x) beside it.
              </li>
              <li>When finished, choose Done</li>
              <li>Select the category according to your preferences</li>
              <li>Choose your Pickup location</li>
              <li>Tap Confirm Order</li>
              <li>
                <b
                  >You have the option to add up to three stops to any
                  trip.</b
                >
              </li>
              <li>
                Once the trip has officially started, you cannot add more
                stops, but it is possible to adjust your destination.
              </li>
              <li>
                Whenever you place multiple stops in your trip, that’s the
                order the Driver will make, even if they don’t equal the
                shortest distance or duration.
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="400"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq4" class="collapsed">
            Canceling a Trip
            <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq4" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                It is possible to cancel a scheduled trip, but only before
                the ride officially starts. In some situations, though, a
                Ride Cancellation fee may still be assessed, even if it is
                canceled before the trip commences.
              </li>
              <li><b>To cancel the ride, from your Mevron app:</b></li>
              <li>Select Cancel on the home screen</li>
              <li>
                You will be asked to give a legitimate reason for the
                cancellation. Feedback is important to us. Repeated
                cancellations may lead to a suspension of Mevron services
                for a specified length of time.
              </li>
            </p>
          </div>
        </li>

      </ul>
    </div>
  </section>

</div>
