<div class="faq-container">
  <div class="__faqBg">
    <div class="container __faq-content">
      <h1>
        Frequently <br />
        Asked Questions
      </h1>
      <!-- <h3>
        Our Project Consultant have worked with the best companies in every
        category
      </h3> -->
    </div>
  </div>
</div>
<div class="container __faqs">
  <section class="faq">
    <div>
      <h3 class="mb-3">Process</h3>

      <ul class="faq-list">
        <li
          data-aos="fade-up"
          data-aos-delay="100"
          class="aos-init aos-animate"
        >
          <a
            data-toggle="collapse"
            class="collapsed"
            href="#faq1"
            aria-expanded="false"
          >
            Are there any recruiting cost?
            <i class="fa fa-arrow-up"></i>
          </a>
          <div id="faq1" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                No! We don’t charge any upfront recruiting on contract fees.
                We’ll match you with a project consultant and set-up a 30-minute
                intro call for free.
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="200"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq2" class="collapsed">
            What happens if I’m not satisfied with my Project Consultants?
            <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq2" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                If you are not satisfied with your project consultant, we can
                re-match you with someone new. We vet and stand by our project
                consultant’s channel expertise, but understand there is more
                than skills and experience that make a match a good fit for both
                sides. We’ll work with you to find the perfect match for your
                project.
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="300"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq3" class="collapsed">
            How does your screening process ensure quality candidates that meet
            our requirements? <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq3" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                We get hundreds of marketing applicants a month and accept less
                than 5%. Here is how we do it. Every freelancer application is
                reviewed for length and quality of past experience. We then set
                up a preliminary phone screen to determine subject matter
                expertise, communication skills, and professionalism. After the
                preliminary screen, each candidate does a video interview with a
                subject matter expert to vet their channel specific skills and
                core competencies. Most of our project consultants only qualify
                for subject matter expertise in a single channel. We don’t place
                project consultant for projects on channels that they are not an
                expert in. Only candidates that pass all parts of the interview
                will be accepted into the network. This is less than 5%.
              </li>
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="mt-5 mb-3">Projects</h3>

      <ul class="faq-list">
        <li
          data-aos="fade-up"
          data-aos-delay="400"
          class="aos-init aos-animate"
        >
          <a
            data-toggle="collapse"
            class="collapsed"
            href="#faq4"
            aria-expanded="false"
          >
            Where are your Project Consultants? <i class="fa fa-arrow-up"></i>
          </a>
          <div id="faq4" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                We have project consultant located globally with a majority
                located in the U.S.A.
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="500"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq5" class="collapsed">
            Where do your Project Consultants work?
            <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq5" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                Most of our project consultant work remotely from home or
                co-working space.
              </li>
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="mt-5 mb-3">Billing</h3>

      <ul class="faq-list">
        <li
          data-aos="fade-up"
          data-aos-delay="600"
          class="aos-init aos-animate"
        >
          <a
            data-toggle="collapse"
            class="collapsed"
            href="#faq6"
            aria-expanded="false"
          >
            How much do you charge?
            <i class="fa fa-arrow-up"></i>
          </a>
          <div id="faq6" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                Our experts set their own rates based on a number of factors,
                including project specialty, years of experience, location, and
                more. While all project consultants are highly-vetted through
                our multi-part vetting system, typically more specialized needs
                mean higher rates.
              </li>
              <li>
                <b
                  >While rates may vary, general pricing falls into the
                  following ranges:</b
                >
              </li>
              <li>Hourly: $75-$150+/hour</li>
              <li>
                Part-time (20% discount for 20-hour commitment):
                $1200-$2400+/week
              </li>
              <li>
                Full-time (20% discount for 40-hour commitment):
                $2400-$4800+/week
              </li>

              <li>
                <b
                  >To ensure freelancers are placed on high-quality projects,
                  our projects also include a soft commitment of $1,500 minimum
                  per month.</b
                >
              </li>

              <li>
                <b>
                  Note: There are no placement fees, termination fees, or
                  long-term contracts.</b
                >
              </li>
            </p>
          </div>
        </li>

        <li
          data-aos="fade-up"
          data-aos-delay="700"
          class="aos-init aos-animate"
        >
          <a data-toggle="collapse" href="#faq7" class="collapsed">
            How often do I get billed and what payments can I use?
            <i class="fa fa-arrow-up"></i
          ></a>
          <div id="faq7" class="collapse" data-parent=".faq-list">
            <p>
              <li>
                We invoice clients weekly and clients can review charges before
                they get processed. We currently accept all major credit cards
                and ACH.
              </li>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<app-subscribe></app-subscribe>