<footer>
  <div class="__footer">
    <div class="__mb">
      <ul>
        <li>Careers</li>
        <li>Apply as a certified Project Manager</li>
        <li>Become an Agile Coach</li>
        <li>Crunch Hire Learning Community</li>
        <li>Featured Project Schedulers</li>
      </ul>
      <img src="../../../assets/images/logo.png" alt="" />
    </div>

    <div>
      <h2>About CH</h2>
      <ul>
        <li>Why Crunch Hire?</li>
        <li>How We Vet</li>
        <li>Our Roles</li>
        <li>FAQ</li>
        <li>Blog</li>
      </ul>
    </div>

    <div>
      <h2>Contact US</h2>
      <ul>
        <li>100 Congress Avenue</li>
        <li>Suite 2000. Austin</li>
        <li>Texas 78701</li>
        <li>(415) 568-1717</li>
        <li>info@crunchhire.com</li>
      </ul>
    </div>
  </div>
</footer>
