<nav class="nav-bar">
  <div class="container navbar-items d-flex justify-content-between">
    <div>
      <img
        src="../../../assets/images/logo.png"
        alt="Crunch Hire"
        title="Crunch Hire | Mevron"
        width="120px"
      />
    </div>
    <div class="list-items">
      <ul>
        <li>Why CH?</li>
        <LI>Our Role</LI>
        <li>How We Vet</li>
        <li [routerLink]="['/faq']"> FAQ</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="btn">
      <button>Apply As Freelancer</button>
    </div>
  </div>
</nav>
