<nav class="navbar nav-bar">
  <div class="container navbar-items d-flex justify-content-between">
    <div>
      <img
        src="../../../assets/images/logo.png"
        alt="Crunch Hire"
        title="Crunch Hire | Mevron"
        width="120px"
      />
    </div>
    <div class="list-items">
      <ul class="" id="js-menu">
        <li class="" [routerLink]="['/why-ch']" class="nav-item">Why CH?</li>
        <li [routerLink]="['/our-role']" class="nav-item">Our Role</li>
        <li [routerLink]="['/how-we-vet']" class="nav-item">How We Vet</li>
        <li [routerLink]="['/faq']" class="nav-item">FAQ</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="btn">
      <button>Apply As Freelancer</button>
    </div>
    <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
      <i class="fa fa-bars"></i>
    </label>
    <input type="checkbox" id="chkToggle" />
  </div>
</nav>

