
<div class="__subscribe">
  <div class="__subscribe-content">
    <h1>Join Crunch Hire Today</h1>
    <h3>We'll match you with a perfect consultant</h3>
    <div class="__sub-btn">
      <button class="btn btn-sub">Apply As A Freelancer</button>
      <button class="btn btn-secondary">Hire A Project Consultant</button>
    </div>
    <div class="__sub-group">
      <input type="text" placeholder="Email Address" class="_sub-input">
      <button class="btn __bc">Subscribe</button>
    </div>
  </div>
</div>
