<div class="faq-container">
  <div class="__faqBg">
    <div class="container __faq-content">
      <h1>
        Our Roles
      </h1>

      <h2>Hire one or build an entire team</h2>

      <div class="_btn-group">
        <button class="_btn btn-pri">Apply As A Freelancer</button>
        <button class="_btn btn-sec">Hire Project Consultant</button>
      </div>
    </div>
  </div>
</div>
<div class="container _listbg">
  <div class="row _list-roles mt-5 mb-5">
    <div class="col-md-4 offset-md-2">
      <ul>
        <li>Chief Project Officer</li>
        <li>Head of Program/Project</li>
        <li>Program/Project Director</li>
        <li>Portfolio Manager</li>
        <li>Program Manager</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Chief Project Officer</li>
        <li>Head of Program/Project</li>
        <li>Program/Project Director</li>
        <li>Portfolio Manager</li>
        <li>Program Manager</li>
      </ul>
    </div>
  </div>
</div>
<app-subscribe></app-subscribe>