<div class="faq-container">
  <div class="__faqBg">
    <div class="container __faq-content">
      <div class="row">
        <div class="col-md-6 pb-5 _how_we_vet">
          <h1>
            Our Vetting Process
          </h1>
          <p>
            Our rigorous freelancer screening process ensures we get the best.
            As Project consultants ourselves, we look for proven experts with
            passion and drive.
          </p>
          <p>
            We only accept people into the network who we’d want to work with
            and learn from ourselves. Hundreds of Project consultants apply to
            CrunchHire each month. We accept less than 5%.
          </p>
        </div>
        <div class="col-md-6 _img">
          <img src="../../assets/images/how-we-vet.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="container __mg">
    <div class="row">
      <div class="col-md-12">
        <div class="list">
          <div class="num">
            <div class="__mv">
              <h3>STEP ONE</h3>
              <h2>Recruit Top Performers</h2>
              <p>
                We monitor Facebook groups, forums, and LinkedIn, and
                proactively place job descriptions and ask for referrals to find
                the very best freelance project team. Top freelancers who learn
                about CrunchHire can also apply for admission.
              </p>
            </div>
          </div>
          <div class="num">
            <div class="__mv">
              <h3>STEP TWO</h3>
              <h2>In-Depth Skill Review</h2>
              <p>
                We review each project consultants professional experience,
                client feedback, and work samples to assess their level of
                expertise and knowledge in applying project management “best
                practices” in practical situations. Most freelancers also
                complete a skill-specific assessment.
              </p>
            </div>
          </div>
          <div class="num">
            <div class="__mv">
              <h3>STEP THREE</h3>
              <h2>Video Interview</h2>
              <p>
                Our final layer of screening is a video interview that assesses
                project management expertise, communication skills,
                problem-solving skills, project management tools and client
                relationship management skillset. If all above criteria are met,
                the freelancer joins our CrunchHire community.
              </p>
            </div>
          </div>
          <div class="num">
            <div class="__mv">
              <h3>STEP FOUR</h3>
              <h2>Test Projects</h2>
              <p>
                After acceptance to CrunchHire, each candidate is assigned a
                test project to evaluate whether they can “walk the walk.” Test
                projects provide real-world scenarios for candidates to
                demonstrate their competence, thoroughness, professionalism, and
                integrity over what is typically 1-3 weeks.
              </p>
            </div>
          </div>
          <div class="num">
            <div class="__mv">
              <h3>STEP FIVE</h3>
              <h2>Continued Excellence</h2>
              <p>
                CrunchHire expect candidate to maintain a perfect track record
                while working with clients. We check-in with clients every 2
                weeks to ensure quality service and do not tolerate sub-par work
                or poor communication for any reason.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-subscribe></app-subscribe>
</div>
