<div class="main">
  <div class="main-container">
    <div class="main-text">
      <h1>
        The Best Project <br />
        Freelance Here.
      </h1>
      <h3>No Job Postings. No Interviews. No Headaches.</h3>
      <div class="btn-group">
        <button class="btn btn-primary">Apply As A Freelancer</button>
        <button class="btn btn-secondary">Hire Project Lead</button>
      </div>
    </div>
  </div>
</div>

<div class="leads">
  <div class="card">
    <div>
      <img src="../../../assets/images/blackmale.png" alt="" />
    </div>
    <div>
      <p>
        Michael is a highly efficient and reliable professional who possesses a
        broad skill set for web application development. He's been working on a
        range of products and clients from working on scalability problems in
        production engineering teams at Shopify and Autodesk to launching new
        applications for startups. Gabriel focuses on creating code that is easy
        to read, maintain and test.
      </p>
    </div>
    <div>
      <h2>View Micheal</h2>
    </div>
  </div>
  <div class="card">
    <div>
      <img src="../../../assets/images/blackwoman.png" alt="" />
    </div>
    <div>
      <p>
        Jiliana is a technical professional with a passion for learning and 15+
        years of experience leading teams to build enterprise-grade distributed
        applications that solve real-world problems. He is a firm believer that
        collaboration across all facets of a business, from development to
        marketing to sales, is required to succeed in this endeavor.
      </p>
    </div>
    <div>
      <h2>View Jiliana</h2>
    </div>
  </div>
  <div class="card">
    <div>
      <img src="../../../assets/images/whitemale.png" alt="" />
    </div>
    <div>
      <p>
        Frédérique is a software engineer and entrepreneur with an MSc in
        theoretical physics from Imperial College London. He excels at building
        full-stack systems with the web, desktop and mobile apps, microservices,
        and external integrations. Frédérique co-founded an international
        marketing agency and three start-ups in developer tools, cybersecurity,
        and AI.
      </p>
    </div>
    <div>
      <h2>View Frédérique</h2>
    </div>
  </div>
</div>
